{% load static %}

<!DOCTYPE html>
  <html lang="en">

  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="INSPIRO" />
    <meta name="description" content="Themeforest Template Polo, html template">
    <link rel="icon" type="image/png" href="images/favicon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Document title -->
    <title>Smart Analytics</title>
    <!-- Stylesheets & Fonts -->
    <!-- DataTables css -->
    
    <link href="{% static 'theme/plugins/datatables/datatables.min.css' %}" rel="stylesheet">
    <link href="{% static 'theme/plugins/select2/select2.min.css' %}" rel="stylesheet">
    
    <link href="{% static 'theme/css/plugins.css' %}" rel="stylesheet">
    <link href="{% static 'theme/css/style.css' %}" rel="stylesheet">
    <link href="{% static 'theme/css/custom.css' %}" rel="stylesheet">    
  </head>

  <body id="section-1">

    <!-- Body Inner -->
    <div class="body-inner">
      <!-- Header -->
      <header id="header" data-fullwidth="true" class="header-alternative">
        <div class="header-inner">
          <div class="container">
            <!--Logo-->
            <div id="logo"> 
              <a href="/">
                <span class="logo-default">
                  <img src="{% static 'theme/images/logo.png' %}" alt="" class="img-logo">
                  <span style="color: #833ccc;">Smart</span>
                  <span style="color: #36daf5;">Analytics</span>
                  <span class="logo-dark">
                    <img src="{% static 'theme/images/logo.png' %}" alt="" class="img-logo">
                    SmartAnalytics
                  </span>
                </span>
              </a>
            </div>
            <!--End: Logo-->
            <!-- Search -->
            <div id="search"><a id="btn-search-close" class="btn-search-close" aria-label="Close search form">
              <i class="icon-x"></i></a>
              <form class="search-form" action="search-results-page.html" method="get">
                <input class="form-control" name="q" type="text" placeholder="Type & Search..." />
                <span class="text-muted">Start typing & press "Enter" or "ESC" to close</span>
              </form>
            </div> <!-- end: search -->
            
            <!--Navigation Resposnive Trigger-->
            <div id="mainMenu-trigger"> <a class="lines-button x"><span class="lines"></span></a> </div>
            <!--end: Navigation Resposnive Trigger-->
            <!--Navigation-->
            <div id="mainMenu">
              <div class="container">
                <nav>
                  <ul>
                    <li><a class="scroll-to" href="./#section-1">Home</a></li>
                    
                    {% if user.is_authenticated %}
                    <li><a class="scroll-to" href="/accounts/logout">Logout</a></li>
                    {% else %}
                    <li><a class="scroll-to" href="/accounts/login">Login</a></li>
                    {% endif %}
                  </ul>
                </nav>
              </div>
            </div>
            <!--end: Navigation-->
          </div>
        </div>
      </header>
    
      <!-- Page Content -->
      {% block content %}
      {% endblock %}
      <!-- end: Page Content -->

      <!-- Footer -->
      <footer id="footer">

        <div class="copyright-content">
          <div class="container">
            <div class="copyright-text text-center">&copy; 2020 - All Rights Reserved.
              <a href="#" target="_blank" rel="noopener">SmartAnalytics</a> 
            </div>
          </div>
        </div>
      </footer>
      <!-- end: Footer -->
    </div>
    <!-- end: Body Inner -->

    <!-- Scroll top -->
    <a id="scrollTop"><i class="icon-chevron-up"></i><i class="icon-chevron-up"></i></a>
    <!--Plugins-->
    <script src="{% static 'theme/js/jquery.js' %}"></script>
    <script src="{% static 'theme/js/plugins.js' %}"></script>
    <!--Datatables plugin files-->
    <script src="{% static 'theme/plugins/datatables/datatables.min.js' %}"></script>
    <script src="{% static 'theme/plugins/moment/moment.min.js' %}"></script>
    <script src="{% static 'theme/plugins/Chart.min.js' %}"></script>
    <script src="{% static 'theme/plugins/justgage.min.js' %}"></script>
    <script src="{% static 'theme/plugins/raphael.min.js' %}"></script>
    <script src="{% static 'theme/plugins/select2/select2.min.js' %}"></script>
    <script src="{% static 'theme/js/utils.js' %}"></script>
    <!--Template functions-->
    <script src="{% static 'theme/js/functions.js' %}"></script>
    <script src="{% static 'theme/js/dashboard.js' %}"></script>

 </body>

 </html>
